
.logo-img{
    height:65px;
}


 .main-banner{
    background-color: #565658;
    color: white;
    padding-top:px;
    height: 100px;
    margin-bottom: 0px;
    margin-top:-21px;

 }

 .navigation{
 height:100px !important;
 }




 .padding-top{
    padding-top: 30px;
 }

 .employee_info_form{
    padding-top: 30px;
 }

  .emp_report {
    background: #76323f;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
 }

.login-form{
margin-top:20px;

}

.panel-footer{
width:100%;
}


.message-section{
    margin:15px;
}

 .emp_report_table{
    padding-top: 60px !important;
 }

 .uploadfile{
    margin-top: 5px;
 }

 .forbg{
    background-color: #D7CEC7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 75px;
 }



