<!DOCTYPE html>
<html>
<head>
<title>{%block title%}{%endblock%}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href = "{% static 'accounts/css/style.css' %}">
<link rel="stylesheet" href = "{% static 'attendance/nepali.datepicker.v2.2.min.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type = "text/javascript" src="{% static 'attendance/nepali.datepicker.v2.2.min.js' %}"></script>
<script type = "text/javascript" src="{% static 'attendance/js/script.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

</head>
<body>

<nav class="navbar navbar-default ">
  <div class="container-fluid navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'load_home' %}" >
      	<img src=" {% static 'attendance/images/logo.png' %}" class="logo-img">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="{%url 'load_home' %}">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'upload_attendance'%}">Upload Attendance</a></li>
            <li><a href="{%url 'upload_employee'%}">Upload Employee</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'all_employee_form'%}">All Employees Analysis</a></li>
            <li><a href="{%url 'specific_employee_report'%}">Specific Employees Analysis</a></li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right" >

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'password_change' %}">Change Password</a></li>
              </ul>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Sign Up</a>
                </li>
            {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div class="main-banner">
		<div class="container" style="margin-left:0 ;">
			<h2 >Infodev Attendance Analysis</h2>
		</div>
	</div>

{%block body%}
{%endblock%}
</body>
</html>